#titleWrap {
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline; 
}

#overBudget {
    margin-top: 10px;
}

body {
    font-family: 'lobster', sans-serif;
    background-color: #EBF2EA;
}

#inputWrap {
    background-color: #80ADD7;
}

#contentWrapper {
    background-color: #0ABDA0   ;
}